/*Credits audio: Three days grace: I am machine*/

/*body*/
body{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

/*header*/
body > header {
    display: flex;
    flex-direction: column;
    border-radius: 1em 1em 1em 1em;
    background-color: rgba(255, 205, 0, 1);
    width: 100%;
    padding: 1em 2em;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

picture{
    position: absolute;
    z-index: -1;
    opacity: .2;
    right: 0;
    width: 100%;
    transform: rotate(-10deg);
}

body >header> h1{
    color: white;
    text-shadow: 0 2px 2px #000;
    margin: 0;
}
body >header> p{
    color: white;
    font-style: italic;
}

body>header>nav ul{
     list-style: none;
}


body> header > nav ul{
    display: flex;
    flex-direction: column;
    background: rgba(255, 174, 0, 1);
    list-style: none;
    padding-left: 0;
    box-shadow: 0 2px 2px #000;
    opacity: .8;
}
body header nav ul li{
    padding: 1em;
    text-decoration-color: black;
    display: block;
    transition: .3s ease;
    text-align: center;
}


body header nav ul li:hover{
    background:rgba(255, 145, 0, 1);
}

body>header>nav>ul>li>a{
    color: black;
}
a:link{
    text-decoration: none;
}

body>header>nav>img{
    height: 1.5em;
    width: 2em;
}

.actief {
    display: none;
}

/*Artikel*/

main{
    display: flex;
    flex-direction: column;
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;
    border: solid;
    background-color: Aliceblue;
}


main>article>header> h2, h3, h4, p, a{
    padding-left: 1em;
    padding-right: 1em;

}

main>article{
 border: solid;
 margin-left: .5em;
 margin-right: .5em;
 margin-bottom: .5em;
 margin-top: .5em;
 box-shadow: 0 3px 3px #000;
 border-radius: .5em .5em .5em .5em;
 background-color: white;
}

main>h1{
    background: grey;
    padding: .5em;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

main>article>section>img{
 max-width: 100%;
}

body>main>form>fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

body>main>form>fieldset input,
body>main>form>fieldset textarea {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: .3em;
}
body>label>{
 padding-top: .3em;
}

.show {
  display: block !important;
}

#project, #stage {
display: none;
}

/*related*/
.related{
     display: flex;
    flex-direction: column;
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;
    border: solid;
    background-color: aliceblue;
    max-width: 100%;
}

.related>h2{
    background-color: grey;
    margin-top: 0em;
    padding: .5em;
    max-width: 100%;
}

.related>article{
    border: solid;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    box-shadow: 0 3px 3px #000;
    border-radius: .5em .5em .5em .5em;
    background-color: white;
}

.related> h3,h4, dt{
    padding-left: 2.5em;
    font-weight: bold;

}

body>footer{
 display: flex;
 flex-direction: column;
 background-color: rgba(255, 205, 0, 1);
}

body>footer>section{
 margin-left: .5em;
}

aside {
    display: none;
}


#sitemap{
    display: none;
}


/*eerste breakpoint*/

@media (min-width:52em){
    body>header{
     order: 1;
    }
    body>header>nav>img{
        display: none;
    }

    body> header > nav ul{
        flex-direction: row;
    }

    body>main{
     order: 2;
    }
     main>article{
      margin-left: 3em;
      margin-right: 3em;
     }

    .related{
     order: 3;
     flex-direction: row;
     flex-wrap: wrap;
     max-width: 45%;
    }

    .related>h2{
     background-color: Aliceblue;
    margin-bottom: 0em;
    }

    aside{
    order: 3;
    display: flex;
    flex-direction: column;
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;
    border: solid;
    background-color: aliceblue;
    max-width: 45%;
    }

    aside>section>article{
    border: solid;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    box-shadow: 0 3px 3px #000;
    border-radius: .5em .5em .5em .5em;
    background-color: white;
}
    body>footer{
     order: 4;
    }
}

/*Tweede breakpoint*/
@media (min-width:80em){
    main{
        width: 68%;
    }

    .related{
     max-width: 28%;
    }

    aside{
       flex-direction: row;
       max-width:  100%;
    }

    body>footer{
        flex-direction: row;
    }
}
